.list{
  display: flex;
  background-color: blue;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.list ul{
  display: flex;
  justify-content: space-around;
  color: white;
  gap: 60px;
  list-style: none;
}
.left{
  width: 15%;
}
.left h3{
  height: 50px;
  background-color: blue;
  color: white;
}

.container{
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 3%;
}
.center{
  width: 70%;
}
.center h1{
  color: blue;
}

.right{
  background-color: blue;
  color: white;
  margin-top: 20px;
}
.git{
  background-color: blue;
  color: white;
  text-align: center;
  height: 40px;
}
  
  @media (max-width: 800px) {
    .container{
      flex-wrap: wrap;
    }
  .right{
    width: 100%;
  }
 
  }
  
  img {
    display: none;
  }

  @media (max-width: 600px) {
    .container{
      flex-wrap: wrap;
    }
    
    .center{
      width: 100%;
    }
    .left{
      width: 100%;
    }
  ul li{ 
    display: none;
  }

  img {
    display: block;
  }
   
  }